<div class="anchor" id="April">
    <h3>Total Corona Virus cases {{covidService.current}}</h3>
</div>


<div class="plot">

    <div class="text-center" *ngIf="!covidService.dataReady">
        Fetching Data...
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <canvas *ngIf="covidService.dataReady" baseChart width="400" height="400" [datasets]="    [{ data: this.covidService.totalDeath, label: 'Total Deaths' }, { data:
        this.covidService.totalRec, label: 'Total Recoveries' }, { data: this.covidService.totalConf,
        label: 'Total Confirmed' }] " [labels]="covidService.dayslabels" [options]="lineChartOptions"
        [legend]="lineChartLegend" [chartType]="lineChartType">
    </canvas>
</div>