<div class="text-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/covid-project-eurecom.appspot.com/o/covid19_icon.png?alt=media&token=758be0c7-a52f-486e-aec2-05882964bbc1"
        alt="covid logo" width="40" height="40">
    <h1 span>Covid-19</h1>
    <p>Live updates and news</p>
    <table class="striped">
        <thead>
            <title>Covid cases Worldwide</title>
        </thead>
        <tbody>
            <tr>
                <td>Total Cases</td>
                <td>{{total.totalCases}}</td>
            </tr>
        </tbody>


    </table>
</div>