<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand"> Covid-19</a>
    <a href="home#summary">summary</a>
    <a href="home#distribution">distribution</a>
    <a href="home#last7">Last 7 days</a>
    <a href="home#April">From april</a>
    <a href="home#countries">Country table</a>



    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select Country
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/country', c.name]" *ngFor="let c of byCountry">{{c.name}}</a>

        </div>
    </div>
    <button class="btn btn-success my-2 my-sm-0" type="button" (click)="covidService.signInWithGoogle()">login</button>
    <button class="btn btn-info my-2 my-sm-0" type="button" (click)="covidService.news()">News</button>
</nav>

<div class="text-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/covid-project-eurecom.appspot.com/o/covid19_icon.png?alt=media&token=758be0c7-a52f-486e-aec2-05882964bbc1"
        alt="covid logo" width="40" height="40">
    <h1 span>Covid-19</h1>
    <p>Live updates and news</p>
    <app-pie-chart></app-pie-chart>

    <app-bar-chart></app-bar-chart>

    <app-line-chart></app-line-chart>


    <app-country-table></app-country-table>
    <h3>Corona virus by country</h3>
    <table class="table table-bordered" id="countries">
        <thead>
            <th>Country</th>
            <th>New Cases</th>
            <th>Total Cases</th>
            <th>New Recoveries</th>
            <th>Total Recoveries</th>
            <th>New Deaths</th>
            <th>Total Deaths</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of byCountry">
                <a [routerLink]="['/country', c.name]">
                    <td>{{c.name}}</td>
                </a>
                <td class="table-warning">{{c.newCases}}</td>
                <td class="table-warning"> {{c.totalCases}}</td>
                <td class="table-info">{{c.newRecovery}}</td>
                <td class="table-info">{{c.totalRecovery}}</td>
                <td class="table-danger">{{c.newDeath}}</td>
                <td class="table-danger">{{c.totalDeath}}</td>

            </tr>
        </tbody>
    </table>
    <!--
    <li *ngFor="let elem of byCountry">
        {{elem.name}}
    </li>


    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Country name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                <td mat-cell *matCellDef="let row"> {{row.totalDeath}}% </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.newDeath}} </td>
            </ng-container>

            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.totalCases}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="let displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
-->

</div>