.highlight{
    color: blue;
}

.tcountry{
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

table{
    border-collapse: collapse;
    width: 100%;
}

.tcountry thead th { position: sticky; top: 0; background:#eee; }

div.anchor{
    display: block;
    position: relative;
    padding-top: 70px; 
    margin-top: -70px;
}