<nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" (click)="covidService.goToCountry('WorldWide')"> Covid-19</a>

    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter by Country
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="covidService.filterNews('WorldWide')">WorldWide</a>
            <a class="dropdown-item" *ngFor="let c of covidService.countries"
                (click)="covidService.filterNews(c)">{{c}}</a>

        </div>
    </div>
    <button class="btn btn-success my-2 my-sm-0" type="button" (click)="covidService.displayModal('id01')"
        *ngIf="covidService.getUser().name ==''">Login/Signin</button>
    <div *ngIf="covidService.getUser().name !=''">
        <i class="fa fa-user user">{{covidService.getUser().name}}</i>
        <button class="btn btn-danger my-2 ml-2 my-sm-0" type="button" (click)="covidService.signOut()">log-out</button>
    </div>

</nav>
<div id="id01" class="modal">

    <form id="loginfo" class="modal-content animate">
        <div class="imgcontainer">
            <span (click)="covidService.closeModal('id01')" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <button class="btn btn-success my-2 my-sm-0" type="button" (click)="covidService.signInWithGoogle()"
                *ngIf="covidService.getUser().name ==''">login with google <i class="fa fa-google"></i></button><br>

            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" id="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <h4 class="danger" *ngIf="covidService.login_error">Wrong username or password</h4>
            <h4 class="danger" *ngIf="covidService.signup_error">Username already used</h4>
            <button type="button" (click)="login()">Login</button>
            <button type="button" (click)="signin()">Sign-In</button>

        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" (click)="covidService.closeModal('id01')" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>

<div class="text-center mx-5 mt-5 pt-3">
    <!-- Button trigger modal -->
    <button class="btn btn-success my-2 my-sm-0" type="button" (click)="covidService.signInWithGoogle()"
        *ngIf="covidService.getUser().status !='editor'">login with google to post</button>
    <button type="button" class="btn btn-primary" (click)="covidService.displayModal('ModalNews')"
        *ngIf="covidService.getUser().status =='editor'">
        Add News
    </button>

    <h1> News from {{covidService.current}}</h1>


    <!-- Modal -->
    <div class="modal" id="ModalNews" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add News</h5>
                    <button type="button" class="close" (click)="covidService.closeModal('ModalNews')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center" *ngIf="covidService.loading">
                        Uploading news...
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <form id="news" class="modal-content animate" *ngIf="covidService.loading==false">
                        <h5 class="card-title">Select an image:</h5>
                        <input type="file" accept=".png,.jpg" (change)="findFile($event)" /><br>
                        <label for="title">Title</label>
                        <input type="text" id="title" required><br>
                        <label for="description">Description</label>
                        <textarea id="description" required> </textarea>
                        <label for="country">Country</label>
                        <select class="form-control" id="country">
                            <option>WorldWide</option>
                            <option *ngFor="let c of covidService.countries">{{c}}</option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer" *ngIf="covidService.loading==false">
                    <button type="button" class="btn btn-danger"
                        (click)="document.getElementById('news').reset()">Reset</button>
                    <button type="button" class="btn btn-primary" (click)="upload()" data-dismiss="modal">Upload
                        News</button>
                </div>
            </div>
        </div>
    </div>



    <div class="text-center" *ngIf="!covidService.newsReady">
        Fetching Data...
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="text-center" *ngIf="covidService.allNews.length == 0">
        No News to display!!
    </div>


    <div class="row">
        <div class="card border-dark mb-3 col-3 ml-3" *ngFor="let n of covidService.allNews"
            (click)="covidService.goToNews(n)">

            <div class="card-header">
                <h5 class="card-title">{{n.title}}
                    <p class="card-text"><small class="text-muted">{{n.country}}, {{n.date}}</small></p>
                </h5>
                <p class="card-text"><small class="text-muted">{{n.author}}</small></p>
            </div>
            <img class="card-img-top border" src={{n.image}} alt="Card image cap" height="200px">
            <div class="card-body">
                <p class="card-text">{{n.text}} </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToNews(n)">
                    Read News</button>
                <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToCountry(n.country)"
                    *ngIf="n.country=='WorldWide' "> Go to Summary
                    page</button>
                <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToCountry(n.country)"
                    *ngIf="n.country!='WorldWide' "> Go to Country
                    page</button>
                <button class="btn btn-danger my-2 my-sm-0" *ngIf="n.author == covidService.getUser().name"
                    (click)="covidService.removeNews(n)"> Delete</button>
                <button class="btn btn-danger my-2 my-sm-0"
                    *ngIf="n.author == covidService.getUser().name && n.file!= '' "
                    (click)="covidService.removeFile(n)"> Delete image</button>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToCountry(covidService.current)"
            *ngIf="covidService.current!='WorldWide' "> Go to Country
            page</button>
    </div>
</div>