<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/country']"> Covid-19</a>

    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter by Country
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngFor="let c of covidService.countries" (click)="filterByCountry(c)">{{c}}</a>

        </div>
    </div>
    <button class="btn btn-success my-2 my-sm-0" type="button" (click)="covidService.signInWithGoogle()">login</button>
</nav>

<div class="text-center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Add News
    </button>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add News</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="news">
                        <h5 class="card-title">Select an image:</h5>
                        <input type="file" accept=".png,.jpg" /><br>
                        <label for="title">Title</label>
                        <input type="text" id="title"><br>
                        <label for="description">Description</label>
                        <textarea id="description"> </textarea>
                        <label for="country">Country</label>
                        <select class="form-control" id="country">
                            <option>WorldWide</option>
                            <option *ngFor="let c of covidService.countries">{{c}}</option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addNews()" data-dismiss="modal">Upload
                        News</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card border-dark mb-3" *ngFor="let n of news">

    <div class="card-header">
        <h5 class="card-title">{{n.title}}
            <p class="card-text"><small class="text-muted">{{n.country}}, {{n.date}}</small></p>
        </h5>
        <p class="card-text"><small class="text-muted">{{n.author}}</small></p>
    </div>
    <img class="card-img-top border" src={{n.image}} alt="Card image cap" height="200px">
    <div class="card-body">
        <p class="card-text">{{n.text}}</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToCountry(n.country)"
            *ngIf="n.country=='WorldWide' "> Go to Summary
            page</button>
        <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToCountry(n.country)"
            *ngIf="n.country!='WorldWide' "> Go to Country
            page</button>
    </div>
</div>