<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top pb-0 pt-1">
    <a class="navbar-brand mb-1" (click)="covidService.goToCountry('WorldWide')"> Covid-19</a>
    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by Country
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" (click)="covidService.filterNews('WorldWide')">WorldWide</a>
                <a class="dropdown-item" (click)="covidService.filterNews(c)"
                    *ngFor="let c of covidService.countries">{{c}}</a>

            </div>
        </div>
    </div>
    <form class="form-inline my-2 ">
        <button class="btn btn-success mb-2 " type="button" (click)="covidService.displayModal('id01')"
            *ngIf="covidService.getUser().name ==''">Login/Signin</button>
        <div *ngIf="covidService.getUser().name !=''">
            <i class="fa fa-user user">{{covidService.getUser().name}}</i>
            <button class="btn btn-danger mb-2 ml-2 " type="button" (click)="covidService.signOut()">log-out</button>
        </div>
    </form>
</nav>
<div id="id01" class="modal text-center">

    <form id="loginfo" class="modal-content animate">
        <div class="imgcontainer">
            <span (click)="covidService.closeModal('id01')" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <button class="btn btn-success my-2 my-sm-0" type="button" (click)="covidService.signInWithGoogle()"
                *ngIf="covidService.getUser().name ==''">login with google <i class="fa fa-google"></i></button><br>

            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" id="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <h4 class="danger" *ngIf="covidService.login_error">Wrong username or password</h4>
            <h4 class="danger" *ngIf="covidService.signup_error">Username already used</h4>


        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="btn btn-danger my-2" (click)="covidService.closeModal('id01')">Cancel</button>
            <button type="button" class="btn btn-success my-2" (click)="login()">Login</button>
            <button type="button" class="btn btn-info my-2" (click)="signin()">Sign-In</button>
        </div>
    </form>
</div>

<div class="text-center mx-5 mt-5 pt-3">
    <!-- Button trigger modal -->
    <button class="btn btn-success mt-2" type="button" (click)="covidService.signInWithGoogle()"
        *ngIf="covidService.getUser().status !='editor'">login with google to post</button>
    <button type="button" class="btn btn-primary mt-2" (click)="covidService.displayModal('ModalNews')"
        *ngIf="covidService.getUser().status =='editor'">
        Add News
    </button>

    <h1> News from {{covidService.current}}</h1>


    <!-- Modal -->
    <div class="modal" id="ModalNews" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content animate">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add News</h5>
                    <button type="button" class="close" (click)="covidService.closeModal('ModalNews')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" text-center" *ngIf="covidService.loading">
                        Uploading news...
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <form id="news" *ngIf="covidService.loading==false">
                        <h5 class="card-title">Select an image:</h5>
                        <input type="file" accept=".png,.jpg" (change)="findFile($event)" /><br>
                        <label for="title">
                            News Title
                        </label>
                        <input placeholder="News title" type="text" id="title" required><br>
                        <label for="description">Description</label><br>
                        <textarea placeholder="Description" class="form-group" id="description" required></textarea>
                        <label for="country">Country</label>
                        <select class="form-control" id="country">
                            <option>WorldWide</option>
                            <option *ngFor="let c of covidService.countries">{{c}}</option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer" *ngIf="covidService.loading==false">
                    <button type="button" class="btn btn-danger"
                        (click)="document.getElementById('news').reset()">Reset</button>
                    <button type="button" class="btn btn-primary" (click)="upload()" data-dismiss="modal">Upload
                        News</button>
                </div>
            </div>
        </div>
    </div>



    <div class="text-center" *ngIf="!covidService.newsReady">
        Fetching Data...
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="text-center" *ngIf="covidService.allNews.length == 0">
        No News to display!!
    </div>


    <div class="row text-center">
        <div class="card border-dark mb-3 ml-5 pl-3 news" *ngFor="let n of covidService.allNews">

            <div class="card-header " (click)="covidService.goToNews(n)">
                <h5 class="card-title">{{n.title}}
                    <p class="card-text"><small class="text-muted"><i class="fa fa-globe"></i>{{n.country}}, <i
                                class="fa fa-calendar"></i>{{n.date}}</small></p>
                </h5>
                <p class="card-text"><small class="text-muted"><i class="fa fa-user"></i> {{n.author}}</small></p>
            </div>
            <div class="card-body" (click)="covidService.goToNews(n)">
                <img class="card-img-top border" src={{n.image}} alt="Card image cap" height="200px">
                <p class="card-text">{{n.text.substring(0,100)}} </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToNews(n)">
                    Read News</button>
                <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToCountry(n.country)"
                    *ngIf="n.country=='WorldWide' "> Go to Summary
                    page</button>
                <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToCountry(n.country)"
                    *ngIf="n.country!='WorldWide' "> Go to Country
                    page</button>
                <button class="btn btn-danger my-2 my-sm-0" *ngIf="n.author == covidService.getUser().name"
                    (click)="covidService.removeNews(n)"> Delete</button>
                <button class="btn btn-danger my-2 my-sm-0"
                    *ngIf="n.author == covidService.getUser().name && n.file!= '' "
                    (click)="covidService.removeFile(n)"> Delete image</button>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-info my-2 my-sm-0" (click)="covidService.goToCountry(covidService.current)"> Go to
            {{covidService.current}}</button>
    </div>
</div>